<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="Description" 
        content="Helps organizations and companies to grow their business by managing timesheets, create invoices and keep track of expenses.">
    <meta name="Keywords" 
        content="organization, timesheet, invoice, expense, company, startup, open source">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
    <!-- imported CSS are concatenated and added automatically -->
  </head>

  <body aurelia-app="main">
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
