<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Busy Nest">
    <meta name="application-name" content="Busy Nest">
    <meta name="theme-color" content="#ffffff">
    <meta name="Description" 
        content="Helps organizations and companies to grow their business by managing timesheets, create invoices and keep track of expenses.">
    <meta name="Keywords" 
        content="organization, timesheet, invoice, expense, company, startup, open source">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "Busy Nest",
          "url": "https://busynest.org",
          "sameAs": [
            "https://www.facebook.com/busynest",
            "https://twitter.com/BusyNestApp"
          ]
        }
    </script>
    <!-- imported CSS are concatenated and added automatically -->
  </head>

  <body aurelia-app="main">
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
