<template>

    <require from="./create-form.css" as="scoped"></require>
    <require from="./integer-value-converter"></require>
    <require from="./float-value-converter"></require>

    <form>
        <ul class="validation-errors" if.bind="controller.errors">
            <li repeat.for="error of controller.errors">
                ${error.message}
            </li>
        </ul>
        <div repeat.for="elem of formElements" class="form-group">
            <label for="${elem.id}">${elem.title}</label>
            <input if.bind="elem.type === 'text'" type="text" id="${elem.id}"
                placeholder.bind="elem.title"
                value.bind="model[elem.id] & validate:rules" />
            <input if.bind="elem.type === 'password'" type="password" id="${elem.id}" 
                value.bind="model[elem.id] & validate:rules" />
            <select if.bind="elem.type === 'select'" id="${elem.id}" value.bind="model[elem.id].id">
                <option repeat.for="option of elem.options" value="${option.value}">
                    ${option.text}
                </option>
            </select>
            <input if.bind="elem.type === 'integer'" type="number" id="${elem.id}" 
                placeholder.bind="elem.title"
                value.bind="model[elem.id] | integer & validate:rules"
                step="${elem.step}" />
            <input if.bind="elem.type === 'number'" type="number" id="${elem.id}" 
                placeholder.bind="elem.title"
                value.bind="model[elem.id] | float & validate:rules" class="form-control"
                step="${elem.step}" />
            <input if.bind="elem.type === 'date-time'" type="datetime-local" id="${elem.id}"
                value.bind="model[elem.id] & validate:rules" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" click.delegate="validate()">
            Create
            </button>
        </div>
    </form>

</template>
