.time-entries .resource-list-item {
    padding: 0.5rem;
    border: 1px solid #cecece;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1rem;
    max-width: 560px;
}

.time-entries .resource-list-item div {
    width: 50%;
    float: left;
    margin-bottom: 8px;
}

.time-entries .resource-list-item span.label {
    display: block;
    font-weight: normal;
    color: #9e9e9e;
    font-size: 0.7rem;
}

@media screen and (min-width: 700px) {
    .time-entries .resource-list-item {
        width: 48%;
        float: left;
        clear: right;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 1rem;
    }

    .time-entries .resource-list-item:nth-child(odd) {
        margin-right: 0;
    }

    .time-entries.resource-list:after {
        content: "";
        display: table;
        clear: both;
    }
}
