<template>
    
    <form id="signup">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" id="email" />
            <span class="hint">Please provide a valid email address. We'll use this email to verify your account.</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <span class="hint">Use at least one lowercase letter, one numeral, and seven characters.</span>
        </div>

        <div>
            <button type="submit">Create an account</button>
        </div>
    </form>

</template>
