.container {
    margin: 0 auto;
    max-width: 62.5rem;
    overflow: auto;
    text-align: left;    
}

#welcome-msg h1 {
    font-size: 54px;
    font-weight: 300;
    margin: 16px 0;
}

.alt-lead {
    font-size: 24px;
    color: #6a737d;
    font-weight: 300;
    margin: 0 0 24px;
}

#visitor-banner sign-up {
    display: none;
    padding: 24px;
    text-align: center;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    margin: 16px 0;
}

@media screen and (min-width: 480px) {
    
    #welcome-msg {
        width: calc(60% - 12px);
        float: left;
    }

    #welcome-msg h1 {
        font-size: 72px;        
    }

    #welcome-msg a[href="/login"] {
        display: none;
    }

    .alt-lead {
        font-size: 26px;
    }

    #visitor-banner sign-up {
        display: block;
        width: 40%;
        float: left;
    }
}

@media (max-width: 768px) and (min-width: 480px){
    #welcome-msg {
        width: 100%;
        float: left;
        text-align: center;
    }

    #visitor-banner sign-up {
        display: block;
        width: 100%;
        float: left;
    }
}

@media (min-width: 768px) {
    #visitor-banner sign-up {
        margin-top: 124px;
        margin-left: 12px;
    }
}
