.invoice-date {
    text-align: right;
    margin-bottom: 1rem;
}

.invoice-date .label {
    font-weight: bolder;
}

.invoice-date .label::after {
    content: ': ';
}

#invoice_header {
    max-width: 62.5rem;
    margin: 0 auto;
}

.invoice_recipient, .invoice_from {
    text-align: left;
}

.invoice_from, .invoice_recipient {
    margin-bottom: 1rem;
}

.invoice_recipient address, .invoice_from address {
    font-style: normal;    
}

.invoice_recipient .org-name, .invoice_from .org-name {
    font-weight: bolder;
}

.invoice_recipient .label, .invoice_from .label {
    color: #ababb1;
    font-size: 1.2rem;
    font-weight: bold;
}

.invoice-entries {
    text-align: left;
    margin: 1rem auto 0;
    max-width: 62.5rem;
}

.invoice-entries .header {
    font-weight: bolder;
    overflow: auto;
}

.invoice-entries .row {
    overflow: auto;
    padding: 0.5rem 0 0;
}

.invoice-entries .header span {
    display: block;
    float: left;
}

.invoice-entries .row > span {
    display: block;
    float: left;
}

.invoice-entries .date {
    width: 6.2rem;
}

.invoice-entries .description {
    width: calc(100% - 6.2rem - 4rem);
}

.invoice-entries .subtext {
    font-size: 0.8rem;
    margin: 0;
}

.invoice-entries .label {
    font-weight: bolder;
    color: rgb(100, 100, 100);
    display: inline-block;
    margin-left: 4px;
}

.invoice-entries .label::after {
    content: ": ";
    white-space: pre;
}

.invoice-entries .footer {
    margin-top: 1rem;
}

.invoice-entries .footer .label {
    color: rgb(0,0,0);
    margin-left: 0;
    width: calc(100% - 5rem);
    text-align: right;
    display: block;
    float: left;
}

.invoice-entries .footer .label::after {
    content: ': ';
    white-space: pre;
}

.invoice-entries .footer .value {
    width: 4rem;
    display: block;
    float: left;
    margin-left: 1rem;
}

.invoice-entries .row .description .label:first-of-type {
    margin-left: 0;
}

.invoice-entries .amount {
    width: 4rem
}

@media print, screen and (min-width: 425px) {
    .invoice_recipient {
        width: 50%;
        float: left;
    }
    .invoice_from {
        width: 50%;
        float: left;
        text-align: right;
    }

    .invoice-entries {
        clear: both;
    }
}
