.btn {
    font-size: 14px;
    text-decoration: none;
    border: 1px solid rgba(27,31,35,0.2);
    padding: 0.5rem 1.25rem;
    border-radius: 6px;
    font-weight: 600;
    line-height: 20px;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
    border-color: rgba(27,31,35,0.5);
}

.btn-primary {
    color: #fff;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    background-color: #28a745
}

.btn-danger {
    color: #c23321;
}

.login-btn-google::before {
    content: "\f1a0";
    font-family: FontAwesome;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid rgba(27, 31, 35, 0.2);
}

.login-btn-google {
    background-color: #DD4B39;
    color: #fff;
}

.login-btn-google:hover {
    background-color: #c23321;
}

.print-btn::before {
    content: "\f02f";
    font-family: FontAwesome;
    margin-right: 5px;
}
