input[type='text'] {
    padding: 0 16px;
    height: 42px;
    transition: all .25s cubic-bezier(.645,.045,.355,1);
}

.float-label input {
    box-sizing: border-box;
}

.float-label label {
    color: #7c7c7c;
    position: relative;
    top: 28px;
    left: 18px;
    font-weight: 600;
    font-size: 11px;
    opacity: 0;
    transition: all .25s cubic-bezier(0.65, 0.05, 0.36, 1);
    transform: translateY(25%)
}

.float-label.is-active label {
    opacity: 1;
    top: 18px;
    transform: translateY(0);
}

.float-label.is-active input {
    padding-top: 10px;
}
