form {
    text-align: left;
    margin: 0 auto;
    max-width: 62.5rem;

    .validation-errors {
        color: #e5464e;
        font-size: 0.75rem;
        padding: 1rem;
    }

    ul {
        padding-left: 18px;
    }

    label {
        color: #444;
    }

    input, select {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        padding: .375rem .75rem;
        width: 100%;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        display: block;
    }

    input:focus, select:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

    select {
        height: calc(2.25rem + 2px);
    }

    button[type='submit'] {
        margin-top: 1rem;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-group .hint {
        font-size: 0.8rem;
        color: #6a737d;
    }

    .form-group.has-error input {
        border-color: #ff4136;
    }

    .form-group.has-error .hint {
        color: #FF4136;
    }
}
